[Unit]
Description=Car 4WD MPU 6050 Service
After=syslog.target home.mount

[Service]
Type=simple
ExecStart= /home/ma/workspace/SM.RC.4WD/MPU6050/mpu6050.service 
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
